.reader-content {
    padding-top: 80px;
    display: grid;
}

.content {
    position: relative;
    background-color: aliceblue;
    margin: 1rem;
    padding: 2rem;
    transition: margin-left 0.2s;
    height: calc(100vh - 80px - 1rem);
    overflow: scroll;
}

.content.hidden {
    margin-left: 136px;
}

nav {
    position: fixed;
}

.chapter-btn {

}

.sidebar {
    text-align: left;
    position: fixed;
    display: inline-block;
    background-color: #656565;
    transition: margin-left 0.2s;
    margin-left: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
    width: 120px;
    max-height: calc(100vh - 80px);
    margin-right: 1rem;
}


.sidebar::-webkit-scrollbar {
    display: none;
}
.sidebar.hidden {
    margin-left: -120px;
}

